version: "3.1"
services:
  web-api:
    build:
      context: "."
      dockerfile: Dockerfile
    ports:
      - 8000:80
      - 8001:443
    volumes:
      - ./docker/appsettings.json:/app/appsettings.json
      - ./docker/cert-aspnetcore.pfx:/root/.dotnet/https/cert-aspnetcore.pfx

    environment:
      - ASPNETCORE_URLS=https://+;http://+
      - Kestrel__Certificates__Default__Path=/root/.dotnet/https/cert-aspnetcore.pfx
      - Kestrel__Certificates__Default__Password=1234
      - TZ=Asia/Bangkok

    depends_on:
      - postgres

  postgres:
    image: postgres:10.1
    environment:
      - POSTGRES_PASSWORD=1234
      - POSTGRES_USER=postgres
      - POSTGRES_DB=k-connector
    command: postgres -c max_connections=300 -c log_min_messages=LOG
    ports:
      - 5432:5432

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5